
.about-body {
  height: 140rem;
  /* background-color: rgba(91, 112, 101, .5); */
  position: relative;
  display: flex;
  align-items: center;
  flex-direction: column;
 
}
.about-parent {
  min-height: 100rem;
  width: 120rem;
  position: relative; 
  flex-direction: column;
}
.about-h2 {
  border: 3px solid #304040;
  margin-top: 10rem;

  width: 15rem;
  height: 4.5rem;
  padding: 1rem;
  display: flex;
  justify-content: center;
  align-items: center;
  /* border-radius: .5rem; */
}

.about-h2 h2 {
  /* text-align: center; */
  color: #304040;
  font-size: 3rem;
}

.left-parent {
	position: absolute;
	top: 10rem;
	left: 0rem;
  box-shadow: 0px 0px 80px 0px rgba(0, 0, 0, 0.1);
}

.right-parent {
	position: absolute;
	top: 55rem;
	right: 0rem;
	box-shadow: 0px 0px 80px 0px rgba(0, 0, 0, 0.1);
}

.outer-box {
	box-sizing: border-box;
	height: 500px;
	width: 800px;
	/* border: 6px solid rgba(91, 112, 101, .5); */
	position: relative;
	background-color: #fff;
}

.inner-box {
	position: absolute;
	box-sizing: border-box;
	height: 460px;
	width: 760px;
	margin: auto;
	top: 0px;
	bottom: 0px;
	left: 0px;
	right: 0px;
	border: .5rem solid ;
	background-color: #fff;
}

.about-text {
  padding: 10rem;
  text-align: left;
  /* border: 2px red solid; */
}

.about-text>p {
  font-size: 2rem;
  color: #304040;
}

.rw-wrapper{
	width: 80%;
	position: relative;
	/* margin: 110px auto 0 auto; */
	padding: 10rem 0 0 10rem;
  /* border: 2px red solid; */
}
.rw-sentence{
	margin: 0;
	text-align: left;
	text-shadow: 1px 1px 1px rgba(255,255,255,0.8);
}
.rw-sentence span{
	color: #444;
	font-size: 200%;
	font-weight: normal;
}
.rw-words{
	display: inline;
	text-indent: 10px;
}
.rw-words-1 span{
	position: absolute;
	opacity: 0;
  font-size: 3rem;
	overflow: hidden;
	color: #304040;
	-webkit-animation: rotateWord 18s linear infinite 0s;
	-ms-animation: rotateWord 18s linear infinite 0s;
	animation: rotateWord 18s linear infinite 0s;
}
.rw-words-1 span:nth-child(2) { 
  -webkit-animation-delay: 6s; 
	-ms-animation-delay: 6s; 
	animation-delay: 6s; 
	color: #304040;
}
.rw-words-1 span:nth-child(3) { 
    -webkit-animation-delay: 12s; 
	-ms-animation-delay: 12s; 
	animation-delay: 12s; 
	color: #304040;	
}
/* .rw-words-1 span:nth-child(4) { 
    -webkit-animation-delay: 9s; 
	-ms-animation-delay: 9s; 
	animation-delay: 9s; 
	color: #7a6b9d;
}
.rw-words-1 span:nth-child(5) { 
    -webkit-animation-delay: 12s; 
	-ms-animation-delay: 12s; 
	animation-delay: 12s; 
	color: #8d6b9d;
}
.rw-words-1 span:nth-child(6) { 
    -webkit-animation-delay: 15s; 
	-ms-animation-delay: 15s; 
	animation-delay: 15s; 
	color: #9b6b9d; 
}*/

@-webkit-keyframes rotateWord {
    0% { opacity: 0; }
    2% { opacity: 0; -webkit-transform: translateY(-30px); }
	  5% { opacity: 1; -webkit-transform: translateY(0px);}
    27% { opacity: 1; -webkit-transform: translateY(0px); }
	  30% { opacity: 0; -webkit-transform: translateY(30px); }
	  80% { opacity: 0; }
    100% { opacity: 0; }
}
@-ms-keyframes rotateWord {
    0% { opacity: 0; }
    2% { opacity: 0; -ms-transform: translateY(-30px); }
	  5% { opacity: 1; -ms-transform: translateY(0px);}
    27% { opacity: 1; -ms-transform: translateY(0px); }
	  30% { opacity: 0; -ms-transform: translateY(30px); }
	  80% { opacity: 0; }
    100% { opacity: 0; }
}
@keyframes rotateWord {
    0% { opacity: 0; }
    2% { opacity: 0; -webkit-transform: translateY(-30px); transform: translateY(-30px); }
	  5% { opacity: 1; -webkit-transform: translateY(0px); transform: translateY(0px);}
    27% { opacity: 1; -webkit-transform: translateY(0px); transform: translateY(0px); }
    30% { opacity: 0; -webkit-transform: translateY(30px); transform: translateY(30px); }
	  80% { opacity: 0; }
    100% { opacity: 0; }
}
@media screen and (max-width: 768px){
	.rw-sentence { font-size: 18px; }
}
@media screen and (max-width: 320px){
	.rw-sentence { font-size: 9px; }
}

.about-profile-pic {
  position: absolute;
  border: 2px red solid;
  bottom: 0;
  right: 5rem;
}

.profile-pic {
  position: absolute;
  border: 2px #fff solid;
  bottom: 0;
  right: 10rem;
  width: 20rem;
}

.contact-body {
  height: 100vh;
  /* background-color: #304040; */
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
}

.bg-video {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  z-index: -1;
  opacity: .3;
  overflow: hidden;
}

.bg-video__content {
  height: 100%;
  width: 100%;
  object-fit: cover;
}

.contact-form {
  background-color: #fff;
  height: 50rem;
  width: 70rem;
  display: flex;
  justify-content: center;
  box-shadow: 0px 0px 80px 0px rgba(0, 0, 0, 0.1);
  border-radius: .5rem;
}


.footer {
  position: absolute;
  /* bottom: 0; */
  z-index: 20;
  height: 5rem;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #304040;
  text-align: center;
}

.footer p {
  font-size: 2rem;
  color: #fff;
  margin-top: 1.2rem;
  
}
