
.about-body {
  height: 140rem;
  /* background-color: rgba(91, 112, 101, .5); */
  position: relative;
  display: flex;
  align-items: center;
  flex-direction: column;
 
}
.about-parent {
  min-height: 100rem;
  width: 120rem;
  position: relative; 
  flex-direction: column;
  /* border: red .2rem solid; */


}
.about-h2 {
  border: 3px solid #304040;
  margin-top: 10rem;

  width: 15rem;
  height: 4.5rem;
  padding: 1rem;
  display: flex;
  justify-content: center;
  align-items: center;
  /* border-radius: .5rem; */
}

.about-h2 h2 {
  /* text-align: center; */
  color: #304040;
  font-size: 3rem;
}

.left-parent {
	position: absolute;
	top: 10rem;
	left: 0rem;
  box-shadow: 0px 0px 80px 0px rgba(0, 0, 0, 0.1);
}

.right-parent {
	position: absolute;
	top: 55rem;
	right: 0rem;
	box-shadow: 0px 0px 80px 0px rgba(0, 0, 0, 0.1);
}

.outer-box {
	box-sizing: border-box;
	height: 500px;
	width: 800px;
	/* border: 6px solid rgba(91, 112, 101, .5); */
	position: relative;
	background-color: #fff;
}

.inner-box {
	position: absolute;
	box-sizing: border-box;
	height: 460px;
	width: 760px;
	margin: auto;
	top: 0px;
	bottom: 0px;
	left: 0px;
	right: 0px;
	border: .5rem solid ;
	background-color: #fff;
}


.contact-body {
  height: 100vh;
  /* background-color: #304040; */
  position: relative;
}

.bg-video {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  z-index: 1;
  opacity: .3;
  overflow: hidden;
}

.bg-video__content {
  height: 100%;
  width: 100%;
  object-fit: cover;
}

